services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    platform: linux/amd64
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ./data:/data
    env_file:
      - server/.env
    networks:
      - my_network

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: http://backend:80
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://backend:80
    ports:
      - "3000:80"
    networks:
      - my_network

  # frontend_old:
  #   build:
  #     context: .
  #     dockerfile: docker/frontend_old.dockerfile
  #   ports:
  #     - "9000:80"
  #   environment:
  #     API_HOST: "http://backend:80"
  #   networks:
  #     - my_network

  database:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./database:/data/db
    networks:
      - my_network

#  ldsc:
#    image: ldsc39
#    container_name: ldsc_container
#    networks:
#      - my_network
#    ports:
#      - "5000:5000"
#    volumes:
#      - ./data:/data

networks:
  my_network:
    driver: bridge
