PyYAML
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles
pymongo==3.12.0
bokeh==0.13.0 
pandas 
tornado 
selenium 
svgutils 
boto3
pyaml-env
python-dotenv
pathlib
dnspython
