
bokeh==3.4.3
boto3
Flask==3.1.1
jinja2
MarkupSafe
mod_wsgi
numpy==1.23.3
pymongo
python-dateutil
python-dotenv
requests
selenium
svgutils
pybedtools==0.9.1  # Specify a known working version
ldsc @ git+https://github.com/CBIIT/ldsc.git@ldsc39
