
bokeh
boto3
Flask
jinja2
MarkupSafe
mod_wsgi
numpy==1.23.3
pymongo
python-dateutil
python-dotenv
requests
selenium
httpx
svgutils==0.3.1
cairosvg
Pillow
pybedtools==0.9.1  # Specify a known working version
ldsc @ git+https://github.com/CBIIT/ldsc.git@ldsc39
