/*disable bk logo */
.bk-logo-small {
   display:none;
}

.nav-tabs {
	width: 100%;
	float: left;
	border-bottom-color: #d9d9d9;
}

.nav-tabs>li a {
	text-align: center;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #e0e0e0;
	background: #f2f2f2;
	color: #444444;
}

.nav-tabs>li a:hover {
	background: #F9F9F9;
	border-color: #d9d9d9;
}

.nav-tabs>li.active a, .nav-tabs>li.active:hover a {
	background: white;
	border-color: #d9d9d9;
	border-bottom-color: transparent;
	font-weight: bold;
	color: #444444;
}

.instructions {
	text-align: center;
	padding: 10px 0;
}

.tabs-dropdown .dropdown-toggle {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #e0e0e0;
	border-radius: 4px 4px 0 0;
	color: #444444;
	background: #f2f2f2;
}

.tab-content {
	padding: 10px;
	width: 100%;
	min-height: 600px;
	-webkit-overflow-scrolling: touch;
	background: white;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #d9d9d9;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}

.tab-content .tab-pane {
	color: #566473;
}

@media ( max-width : 480px) {
	.nav-tabs>li {
		float: none;
		border: 1px solid #dddddd;
	}
	.nav-tabs>li.active>a {
		border: none;
	}
	.nav>li>a:hover, .nav>li>a:focus, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
		background: none;
		border: none;
	}
}

/* Reset bootstrap table*/
.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th {
	border-top: 0px;
   	border-bottom: 0px;
}
}

.left td {
	text-align:left;
}
.ldpair-results {
	text-align:center;
	border: 1px solid #ddd;
}

.center-align {
	margin: 0 auto !important;
	float: none !important;
}

.spacer {
	width:10%;
}
/*
table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

*/
table.ldpair,table.ldpair tr, table.ldpair th {
  background-color: white !important;
}

td.cell-right {
    text-align: right;
}
td.cell-left {
    text-align: left;
}

td.cell-center {
    text-align: center;
}

.cell-height-small {
	height: 10px;
	padding:0px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
/*
table.ldhap,table.ldhap tr, table.ldhap th {
  background-color: white !important;
}
*/
.container {
  background-color: white;
}
.two-by-two {
  margin-bottom:0px;
  width:100%;
}

.jumbotron {
  background-color:white;
  padding:10px 15px;
}
.ldpair-stats {
  float:left;
}
table.fixed {
    table-layout:fixed;
    width:400px;
    margin-bottom:15px;
}
table.fixed td {
    overflow: hidden;
}

table thead td {
  font-weight:bold;
  text-align: center;
}

.font-weight-bold {
  font-weight:bold;
}

img.logo {
	max-height:150px;
}


img.loading {
	height:107px;
	max-height:10%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

img.graph-legend {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#ldproxy-legend {
	width: 700px;
}
#ldmatrix-legend {
	width: 390px;
}
.ldproxy-link {
  display:block;
  text-align: center;
}

.readonly-input-text {
  width:172px;	
}

.btn-ldlink-multiselect {
  text-align:left;
}
.multiselect-container > li {
    padding-left: 50px;
}
.multiselect-item.multiselect-all {
	padding-left: 0px;
	text-decoration: underline;
}
.multiselect-item.multiselect-group {
	padding-left: 30px;
}
.has-feedback .form-control {
    padding-right: 0px;
}
.multiselect-container > li.multiselect-group-clickable label {
	text-decoration: underline;
}
/* Tighten up snpchip platform list only*/
/*   .btn-ldlink-multiselec  */
.multiselect-container > li > a > label {
	padding: 0px 20px 0px 40px;
}

.form-control-feedback {
    top: 0;
    right: -15px;
}

/* Placeholder Style */
::-webkit-input-placeholder {
   font-size: 90%;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 90%;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 90%;
}

:-ms-input-placeholder {
	font-size: 90%;
}

.snp {
	text-transform: lowercase;
}

.ffWarning {
	display: none;
}
/*
.bk-plot-canvas-wrapper {
	max-width:900px;
	overflow-x: scroll;
}
*/

.haplotype {
	color: black;
	background:#C0C0C0; /* if a multiple grouped */ 
}

/* LDhap Heat Map - Version 4 */
/* Pastel Colors light red, light orage, light blue, and light green */
/* Color Code: http://paletton.com/palette.php?uid=7000u0klLMWnHN3kBNFgZMYgZMY */
.haplotype_dash {
	background:white;
}
.haplotype_a {
	background: #FF7878; 	/* Light red; */
}
.haplotype_t {
	background: #FFB578; 	/* Light Orange */
}
.haplotype_c {
	background: #63D2D2; /* Light Blue */
}
.haplotype_g {
	background: #6DE96D; /* Light Purple; c2b2da; Contrast Ratio: 7.17:1 */
	/*
	background: linear-gradient(145deg, #d4c9e5 , #c2b2da); 
	*/
}
#ldhap-bokeh-graph {
	max-height: 700px;
	max-width: 900px;
	overflow:auto;
}
.overflowx {
	overflow-x:auto;
}
.overflowy {
	overflow-y:auto;
}
#ldlink_version {
	float:right;width:150px;
	font-style: italic;
	text-align:right;
}
.whats_new {
	height:200px;
	border:1px solid #566473;
	overflow-y:auto;
	margin-bottom:25px;
}

.table {
    width: auto;
    min-width: 0;
    display: table;
}
.left-c {	width:auto;
	display: inline-block;
	vertical-align: top;
}
.right-c {
	min-width:300px;
	width:65%;
	display: inline-block;
	vertical-align: top;
}
.ldhap-table-container {
	min-with: 700px;
	width:auto;
	white-space: nowrap;

}
#ldhap-table-right {
    display: inline-block;
    overflow-y: auto;
}

.left-c > table > tfoot > tr > td,
.right-c > table > tfoot > tr > td {
	font-weight:bold;
}


/* New stuff */
#snpchip-container {
	overflow-x: scroll;
}

#snpchip-results-container {
	overflow-y: auto;
}

.snpchip-table-container {
	min-width: 700px;
	width:auto;
	white-space: nowrap;

}
#snpchip-table-right {
    display: inline-block;
    overflow-y: hidden;
    margin-top: 0px;
}

.snpchip-table > tbody > tr:nth-child(odd) {
	background: #F9F9F9;
}
.snpchip-table > tbody {
	border: 1px solid #ccc;
}
.snpchip-table > thead > tr > th, .snpchip-table > tbody > tr > th, .snpchip-table > tfoot > tr > th, .snpchip-table > thead > tr > td, .snpchip-table > tbody > tr > td, .snpchip-table > tfoot > tr > td {
    border: 1px solid #ddd;
    border-top: 0 none;
}
table#snpchip-thinned-list > tbody > tr > td {
	padding: 0 5px;
}
/* Header and Footer */
.header img {
	/*
    width: 60%;
    */
}
.header h4 {
    color: #fff;
    line-height: 0.5em;
}
.footer {
    bottom: 0;
    color: #444;
    padding: 25px 0;
}
.footer ul {
    text-align: center;
}
.footer ul li a {
    color: #444;
}
hr.header {
    border-top: 0.5em solid #bb0e3d;
    margin: 0;
}

#snpclip-thresholds {
	width:130px; 
	margin-left:10px;
	position: relative;
	top:-17px;
}
#snpclip-thresholds > div > label {
	width:40px;
}
#snpclip-thresholds > div > input {
	width:50px;
}

#snpclip-thresholds > div:first-child {
	width:100px;
	font-weight:bold;
}
#snpclip-thresholds > div:not(:first-child) {
	/*padding-bottom:1px;*/
}
#snpclip-snp-list {
	/*width:175px; */
	float:left;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#snpclip-snp-list > a {
	text-decoration: underline;
	color: #428bca;
}
#snpclip-detail {
/*	border:1px solid #333; */
	float:left;
	padding:10px;
}
#snpclip-warning {
	float:left;
	padding:10px;
}
caption {
	font-weight:bold;
}
table.table-chip > caption {
	min-height:60px;
}
table.table-chip > thead > tr > th {
	text-align: left;
	white-space:nowrap;
}

table.table-chip > tbody {
    border:1px solid #ccc;
}
table#snpclip-table-thin > tbody {
    max-height: 400px;
    overflow-y: auto;
}
table#snpclip-table-thin > tbody > tr > td {
	padding: 8px 20px 8px 10px;
}

#snpclip-initial-message {
	font-weight:bold;
	font-size:110%;
	margin-top:50px;
}
#snpclip-table-container {
	min-height:580px;
}
.snpclip-table-scroller {
	overflow-y:auto;
	max-height:575px;
	padding-top:10px;
}

/* Rotate the text on SNPchip table */
th.rotate {
  /* Something you can count on */
  height: 142px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    translate(0px, 51px)
    rotate(270deg);
  width: 20px;
}
th.rotate > div > span {
  /*border-bottom: 1px solid #ccc;*/
  /*padding: 5px 10px;*/
}
/* These aren't needed and will be weird if transforms don't work */
.csstransforms & th.rotate {
  height: 142px;
  white-space: nowrap;
}

.snpchip-warnings {
    border-collapse: collapse;
}

.snpchip-warnings > tbody > tr > td {
    border: 1px solid black;
}

#filter-by-array {
	margin-top: 10px;
}

span.formw > label {
	margin-bottom: 0px;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: normal;
}

.platform-checkbox {
	padding: 0.2em 0.6em 0.3em;
}

/* From style.css
https://www.broadinstitute.org/mpg/snap/ldsearch.php */

.bolded {
    font-weight: bold;
}
.underlined {
    border-bottom: 1px dotted gray;
}
fieldset#columnAcheckbox {
    min-width: 450px;
}
fieldset#columnAcheckbox div.row span.label, fieldset#columnBcheckbox div.row span.label, fieldset.fullwidthcheckbox div.row span.label {
    padding-top: 1px;
    width: 20px;
}
fieldset#columnBcheckbox {
    min-width: 365px;
}
fieldset div.row span.formw select.yesno {
    width: 80px;
}
/* Custom */

fieldset#columnAcheckbox > div.row,
fieldset#columnBcheckbox > div.row {
	margin-left:15px;
	margin-bottom:-12px;
	font-weight:lighter;
	color: #333;
	font-family: "Lucida Grande",Verdana,Arial,sans-serif;
	font-size: smaller;
}
table.snpchip-table > thead > tr:first-child {
	height: 121px;
	border-top: 1px solid #ccc;
}
table.snpchip-table > thead > tr:first-child > th {
	text-align:center;
	border-bottom: 0px;
}
table.snpchip-table > thead > tr:nth-child(2) > th {
	padding-left:2px;
	padding-right:10px;
}
table.snpchip-table {
	margin-bottom:30px;
}
table#snpchip-thinned-list > thead > tr {
	border-top: 1px solid #ccc;
}

#snp_chip_list {
	padding-left:60px;
}
#snpclip-links-container {
	padding-top:30px;
}
#ldpair-snp1, #ldpair-snp2 {
	min-width:145px;
}
#snpclip-thresholds > div.input-group {
	display:block;
}

textarea:valid, .ok {
    color: #555;
}
textarea:invalid, .error {
    color: red;
}
.panel-body > h1 {
	font-size: 1.7em;
}
/* Testing */
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } 
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } 
}

    